<div>
    <!-- <label [for]="fieldId"> {{label}} </label> -->
    <label id="label" class="label label-success"  [for]="fieldId">{{ label }}</label><br>
    <input [formControl]="control"
           [type]="type"
           [id]="fieldId"
           autocomplete="off"
    />
    <app-reactive-validation [validationErrors]="validationErrors"></app-reactive-validation><br>
  </div>