<h1> {{ title }} </h1>
<form [formGroup]="form">

    <app-input-text label="Total Miles" 
  				type="text"
                fieldId="miles"
                [control]="form.get('miles')">
    </app-input-text>
    <app-input-text label="Email" 
                type="email"
                fieldId="email"
                [control]="form.get('email')">
    </app-input-text>
    <app-input-text label="Password" 
                type="password"
                fieldId="password"
                [control]="form.get('password')"
                #password
                >
    </app-input-text>
    <app-input-dropdown 
                label="Dropdown" 
                fieldId='dropdown' 
                [values]="values" 
                [control]="form.get('dropdown')" 
                Selected="Fetch Data">
    </app-input-dropdown>
    <app-input-numeric 
                label="Numeric" 
                type="number"
                fieldId="numeric"
                [control]="form.get('numeric')">
    </app-input-numeric>
    <app-input-alpha-numeric
                label="AlphaNumeric" 
                type="text"
                fieldId="alphaNumeric"
                [control]="form.get('alphaNumeric')"
                >
    </app-input-alpha-numeric>
    <app-input-date-picker 
                label="Date Picker"
                type="date"
                fieldId="date"
                [control]="form.get('date')"
                [defaultDate]="defaultDate"
                >
    </app-input-date-picker>
    <app-input-date-time-picker
                label="Date-Time Picker"
                type="datetime-local"
                fieldId="dateAndTime"
                [control]="form.get('dateAndTime')"
                [defaultDateTime]="defaultDateTime"
                >
    </app-input-date-time-picker>
    <app-input-time-picker 
                label="Time Picker"
                type="time"
                fieldId="time"
                [control]="form.get('time')"
                [defaultTime]="defaultTime"
                >
    </app-input-time-picker>
    <app-button
                type="button"
                label="Submit"
                (onClick)="onSubmit()"
                [disabledCondition]="form.invalid"
                >
    </app-button>
    

    
</form>

<pre><code> {{ form.value | json }} </code></pre>

