:host {
  display: block;
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
}

label {
  // display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

input {
  font-size: 1rem;
  padding: .5rem;
}

input:disabled {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #666;
}