
<div>
  <label id="label" style="display: inline;" class="label label-success"  [for]="fieldId">{{ label }}</label>    <br>
    <input [formControl]="control"
           [type]="type"
           [id]="fieldId"
           autocomplete="off"
    />

  <app-reactive-validation [validationErrors]="validationErrors"></app-reactive-validation>

    
  </div>