<br>
    <!-- <app-label [fieldId]="fieldId" [label]="label"></app-label><br>   -->
    <label for="fieldId">{{label}}</label><br>
<select name="fieldId" [id]="fieldId" >
    <option [selected]="v === Selected" *ngFor="let v of values" [ngValue]="v">{{v}}</option>
</select>
